header {
  background-color: hsl(240, 100%, 15%);
  color: hsl(0, 0%, 90%);
  text-align: center;
}

#calculator {
  text-align: center;
}

#total {
  margin: 10px;
}

#service {
  margin: 10px;
}

#people {
  margin: 10px;
}

#calculate {
  margin: 10px 0px;
  height: 50px;
  width: 150px;
}

#tipTotal:before {
  content: "Tip Amount:";
  display: block;
  margin-bottom: 10px;
}

#tipTotal {
  text-align: center;
  margin: 10px;
}

footer {
  background-color: hsl(240, 100%, 15%);
  color: hsl(0, 0%, 90%);
  text-align: center;
}
